*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gilory';
}

html,body{
    height: 100%;
    width: 100%;

}
body{
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
}

#card{
    border-radius:10px;
    height: 380px;
    width: 270px;
    background-color: white;
    padding:14px;
    align-items: center;
    text-align: center;
}
#card img{
    height: 52%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
#card  h1{
    font-size: 25px;
    margin-top: 10px;
    align-items: center;
    text-align: center;
  
    
}

#card h5{
    font-size: 23px;
    color:red;
    margin:20px;
}
#card button{
    background-color: cadetblue;
    color:white;
    font-weight: 700;
    padding:12px 20px;
    border-radius: 5px;
    border: none;
    margin:5px ;
    cursor: pointer;
}

